{% extends 'base.html' %}

{% block body %}
    {% if not device %}
        <h1>New device</h1>
    {% else %}
        <h1>Edit device</h1>
    {% endif %}

    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label }}
        {{ form.name(size=50) }} <br />

        {{ form.ip_address.label }}
        {{ form.ip_address(size=50) }} <br />

        {{ form.output_pin.label }}
        {{ form.output_pin(size=50) }} <br />

        <br />
        <input type="submit" class="button button-primary" value="Save" />

        {% if not device %}
            <a class="button" href="{{ url_for('list_devices') }}">Cancel</a>
        {% else %}
            <a class="button" href="{{ url_for('view_device', id=device.id) }}">Cancel</a>
        {% endif %}
    </form>
{% endblock %}
