<!DOCTYPE html>
<html>
    <head>
        <title>dikke lul 3 bier</title>
        <meta charset="utf-8">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="one-sixth column" style="margin-top: 20px">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
